#nav ul {
    list-style-type: none;
}

body {
    background-color: #546f4c;
}

#nav {
    background-color: #80ab75;
}

#header {
    background-color: #b6b57d;
}

#sidebar {
    background-color: #b6b57d;
}

#content {
    background-color: #738e6b;
}

.container-1 {
    background-color: #bac0b9;
    display: flex;
}

.container-1 div {
    border: 1px #556352 solid;
    padding: 2%;
}

.box-1 {
    flex: 1;
}

.box-2 {
    flex: 1;
}

.box-3 {
    flex: 1;
}


/* #wrap {
    display: flex;
} */